SMF_RELEASE_STORE_FILE=C:/Users/cosyc/sticklash-key.jks
SMF_RELEASE_STORE_PASSWORD=replace_with_store_password
SMF_RELEASE_KEY_ALIAS=replace_with_key_alias
SMF_RELEASE_KEY_PASSWORD=replace_with_key_password
